/* src/index.css */
.parallax-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: url("./assets/images/background.JPG") center center / cover no-repeat;
  filter: brightness(30%);
  transform: translateY(0);
}

.location-container {
  margin: 0 auto;
  text-align: center;
  max-width: 800px; /* 필요에 따라 조정 */
}

.pac-container {
  z-index: 9999 !important; /* 모달보다 높게 설정 */
}

body {
  overflow-x: hidden;
}

#root {
  position: relative;
  z-index: 0;        /* 배경(-9999)보다 큼 */
}